/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: ne;
}

::selection {
    background: #b3d4fc;
    text-shadow: ne;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-image: url(../img/papier.jpg)
}

ul li {
    list-style: none;
}

/* Rélges type marges  */

.m-t-1 {
    margin-top: 3em;
}

.m-t {
    margin-top: 2em;
}

.m-l {
    margin-left: 2em;
}

.m-r {
    margin-right: 2em;
}

.m-b {
    margin-bottom: 2em;
}


/*Releges type text */

t-centre {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Zilla Slab', serif;
}


/* Fin Régles text */

#css ul {
    display: flex;
    list-style: none;
    font-family: 'Lobster', cursive;
    text-align: center;
}

#css ul li {
    margin-left: 1em;
}

#css ul li a {
    color: black;
    font-size: 15px;
}

#navbar {
    height: 38px;
    font-family: 'Lobster', cursive;
    text-align: center;
    background-color: #ffffff;
    opacity: 0.4;
}

.navbar-toggler-icon {
    color: black;
}

#navbar a {
    color: black;
    margin-left: 2px;
}


/*  Start of Rules Csss*/

#color2 {
    /* background-image: url(../img/papier3.jpg); */
    background-image: url(../img/papier2.jpg);
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}
#color2 a {
    color: white;

}

.modal{
     background-image: url(../img/papier3.jpg);

}

.cv{
      background-image: url(../img/papier3.jpg);
    font-family: 'Lobster', cursive;

}
.centre {
    text-align: center;
     font-family: 'Lobster', cursive;

}

.adresse , .adresse a {
    color: black;
}

.modal-content{
     font-size: 17px;
    text-align: center;
      background-image: url(../img/papier2.jpg);
      color: white;

}

.modal-title{
     font-family: 'Lobster', cursive;
     font-size: 25px;
     text-align: center;

}



#color {
    background-image: url(../img/papier2.jpg);
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: white;
}

.card {
    margin-top: 2em;
}

.cart p {
    font-family: 'Inconsolata', mospace;
}

nav {
    color: orange;
    font-family: 'Zilla Slab', serif;
}

.gauche,
.droite {
    width: 40%;
}

.bare{
    margin-top: 1em;
    border-top: solid white 1px;
}



/*Start of rules index.html*/

.cv {
    color: white;
    background-color: #222;
}

.projets {
    height: 50%;
    width: 50%;
    background-color: orange;
}

.btn .btn-outline-success {
    color: black;
    border: 1px solid black;
}


/*annimation*/

.wit {
    margin-top: 2em;
    width: 200px;
    height: 50px;
}

.carousel .slide {
    height: 300px;
}

#block {
    text-align: center;
    margin-top: 5em;
}

.card img {
    animation-name: images;
    animation-duration: 5s;
}

@keyframes images {
    form{
      
    }
    1% {
        width: 0px;
        height: 0px
    }
    to {
        width: 150px;
        height: 150px;
    }
}

.card h2,
.card p {
    animation-name: text;
    animation-duration: 5s;
}

@keyframes text {
    1% {
        font-size: 0px;
    }
    to {
        font-size: 15px;
    }
}

.annime {
    animation-name: test;
    animation-duration: 5s;
    transition: width 1s, font-size 1s;  ;
}

@keyframes test {
    5% {
        width: 5%;
        font-size: 0px;
        
    }
    10% {
        width: 10%;
    }
    15% {
        width: 15%;
    }
    20% {
        width: 20%;
    }
    25% {
        width: 25%;
    }
    30% {
        width: 30%;
    }
    40% {
        width: 40%;
    }
    50% {
        width: 45%;
    }
    55% {
        width: 55%;
        font-size: 1px;
    }
    60% {
        width: 60%;
        font-size: 5px;
    }
    70% {
        width: 70%;
    }
    80% {
        width: 80%;
    }
    90% {
        width: 90%;
    }
    to {
        width: 100%;
    }
}




/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: ne !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://sok.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/de/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: ne !important;
        text-shadow: ne !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}